Wrong protocol definition

Hello, when translating a site from http to https, they very often change http: // to just // so that the browser itself defines the proctol, since it defines it not as https, but as file: //, in all other browsers there is no such problem ...

example link = //site.ru/redirect.php?site=https://github.com/mrkaban/LicenseChecker

I can link to the page where the problem was found. It is global in nature.

![Снимок](https://user-images.githubusercontent.com/14289360/94341761-3279a900-0036-11eb-8cb8-86e3ac4630f4.png)


I cannot reproduce this with either backend (on Linux), with an http or https base scheme.

This is a network-path reference as defined by [RFC 3986 Section 4.2](https://tools.ietf.org/html/rfc3986#section-4.2); if the scheme is not specified the browser should use the current document's scheme.